.gridContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 200px;
  height: 280px;
  margin: 10px;
  position: relative;
  cursor: pointer;
  background: var(--blanco);
  border-radius: 0.15625em;
  transition: box-shadow 0.2s;
}

.card:hover {
  z-index: 5;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3),
    0 0 0 4px hsla(0, 0%, 100%, 0.795),
    0 0 30px 5px rgba(0, 0, 0, 0.5);
}

.imageWrapper {
  position: relative;
  z-index: 1;
  padding-bottom: 110%;
  height: 0;
  overflow: hidden;
  border-radius: 2px;
  background-color: var(--grisClr);
}

.imageWrapper img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: auto;
}

.title {
  position: relative;
  z-index: 1;
  width: 70%;
  margin: -1.09375em 15% 0;
  text-align: center;
  background: var(--blanco);
  font-size: 0.65rem;
  font-weight: 600;
  color: var(--grisOsc);
}

.cardTitle {
  position: absolute;
  margin-right: 9px;
  background: var(--vinoGradient);
  z-index: 99;
}

.cardTitle h3 {
  margin: 3px;
  color: var(--blanco);
  font-size: 0.6rem;
  font-weight: 400;
}

.cardTitle[data-type="programas"] {
  top: 45%;
  right: 0;
  width: 70%;
}

.cardTitle[data-type="planes"] {
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.cardTitle[data-type="guías"] {
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.cardTitle[data-type="atlas"] {
  top: 56%;
  right: 0;
  width: 70%;
}

.cardTitle[data-type="informes"] {
  bottom: 29%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.cardTitle[data-type="reglamentos"] {
  bottom: 29%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

/* Year badge */
.year {
  position: absolute;
  z-index: 1;
  top: 0.125em;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 0 0.25em;
  font-size: 0.6875rem;
  font-weight: 900;
}

.bg_planes .year {
  color: var(--planes);
}

.bg_planes .imageWrapper {
  background: var(--planes);
}

.bg_programas .year {
  color: var(--programas);
}

.bg_programas .imageWrapper {
  background: var(--programas);
}

.bg_guías .year {
  color: var(--guias);
}

.bg_guías .imageWrapper {
  background: var(--guias);
}

.bg_atlas .year {
  color: var(--atlas);
}

.bg_atlas .imageWrapper {
  background: var(--atlas);
}

.bg_informes .year {
  color: var(--informes);
}

.bg_informes .imageWrapper {
  background: var(--informes);
}

.bg_reglamentos .year {
  color: var(--reglamentos);
}

.bg_reglamentos .imageWrapper {
  background: var(--reglamentos);
}